@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.main {
    width: 100vw;
    height: 100vh;

    background-image: url(/image/home/background-home-desktop.jpg);
    background-size: cover;
}

.nav {
    width: 100vw;
    height: 60px;
    padding-top: 60px;

    display: flex;
    justify-content: space-between;

    background-color: brown;
}
.nav > img {
    padding-left: 46px;
}
.nav-list {

}